* {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a { text-decoration: none; }
body {
  margin: 0;
  padding: 0;
  font-family: San Francisco Display, sans-serif;
  background-color: #FAFAFA;
}
h3 { font-size: 1.1em; font-weight: 600; font-color: #363636;}

nav {height: 60px;
	background-color: #FFF;
border-bottom: 1px solid #F1F1F1;  }
nav { 
	display: flex; 
	justify-content: space-between;
align-items: center;}

.logo { width: 30px; padding-left: 15px }
.profile-avatar { width: 100px;}

/* Sidebar */
.sidebar { width: 210px; margin: 60px 50px 0 50px }
ul { list-style-type: none; padding-left: 0}
ul li { height: 50px;  display: flex; align-items:center; }
ul li a { color: #484C53; padding-left: 20px; 
			display: inline-block; width: 100%;}
ul li:hover { background-color:#EDEEF0; border-radius: 3px }
ul li.active a  { font-weight: 600; font-color: #000;}

.primary-btn {width: 100%; height: 42px; background-color: #4957B8; border-radius: 4px}
.primary-btn:hover { background-color: #2B3999}
.primary-btn a { color: #fff; font-weight:600; display: inline-block; width: 100%; text-align: center;
				padding: 10px 0 10px 0 }

