* {

}

a { text-decoration: none; }
body {
  margin: 0;
  padding: 0;
  
  background-color: #FAFAFA;
}
h3 { font-size: 1.0em; font-weight: 600; }

nav {
	height: 60px;
	width:100%;
	background-color: #FFF;
border-bottom: 1px solid #F1F1F1; position: fixed; top:0; z-index: 99  }
nav { 
	display: flex; 
	justify-content: space-between;
align-items: center;}

.logo { width: 30px; padding-left: 15px }
.profile-avatar { width: 100px;}

/* Sidebar */
.sidebar { width: 210px; margin: 32px 50px 0 50px; }
ul { list-style-type: none; padding-left: 0}
ul li { height: 42px;  display: flex; align-items:center; }
ul li a { color: #484C53; padding-left: 20px; 
			display: inline-block; width: 100%;}
ul li:hover { background-color:#EDEEF0; border-radius: 3px }
ul li.active a  { font-weight: 600; font-color: #000;}

.primary-btn {width: 100%; height: 42px; background-color: #4957B8; border-radius: 4px}
.primary-btn:hover { background-color: #2B3999}
.primary-btn a { color: #fff; font-weight:600; display: inline-block; width: 100%; text-align: center;
				padding: 10px 0 10px 0 }

